.app-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh; /* vh=viewport height , here the height of thee browser, 100vh= 100% of the height of the viewport(here browser) */

  display: flex;
  flex-direction: column;
}
